* {
    box-sizing: border-box;
  }
  .accordeon {
    max-width: 50%;
    margin: 0 auto;
  }
  .accordeon-title {
    display: block;
    cursor: pointer;
    text-align: center;
    color: blue;
  }
  .accordeon-input {
    display: none;
  }
  .accordeon-item {
    border-top: 0.063rem solid grey;
  }
 .accordeon-image {
  display: none;
 }
 .accordeon-input:checked ~ .accordeon-image {
  display: block;
 }
 .accordeon-label {
  display: block;
  cursor: pointer;
 }
.accordeon-label:hover > .accordeon-image {
  display: block;
}

.accordeon-input:checked ~ .accordeon-title   {
  color:black;
 }
 .accordeon:hover > .accordeon-item > .accordeon-label > .accordeon-title  {
  color: black;
 }
