* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .accordeon {
    max-width: 100%;
    margin: 0 auto;
  }
  .accordeon-title {
    font-size: 1.263rem;
    display: block;
    cursor: pointer;
    text-align: center;
    color: blue;
    margin-bottom: 0.938rem;
    margin-top: 0.938rem;
    margin-left: 15px;
  }
  .accordeon-icon {
    font-size: 60px;
    margin-right: 15px;
  }
  .accordeon-input {
    display: none;
  }
  .accordeon-item {
    border-top: 0.063rem solid grey;
    max-width: 40.625rem;
    margin: 0 auto;
    padding-bottom: 1.25rem;
  }
 .accordeon-image {
  display: none;
 }
 .accordeon-image img {
  display:block;
  max-width: 70%;
  margin: 0 auto;
 }
 .accordeon-input:checked ~ .accordeon-image {
  display: block;
 }
 .accordeon-label {
  display: block;
  cursor: pointer;
 }
.accordeon-label:hover > .accordeon-image {
  display: block;
}

.accordeon-input:checked ~ .wrapper > .accordeon-title   {
  color:black;
 }
 .accordeon:hover > .accordeon-item > .accordeon-label > .wrapper > .accordeon-title  {
  color: black;
 }
.wrapper {
  display: flex;
  background-color: coral;
  justify-content: space-between;
  align-items: center;
}
.accordeon-icon.close {
  display: none;
}
.accordeon-input:checked ~ .wrapper > .accordeon-icon.close {
  display: block;
 }
 .accordeon-input:checked ~ .wrapper > .accordeon-icon{
  display: none;
 }
 .accordeon-label:hover > .wrapper > .accordeon-icon.close {
  display: block;
}
.accordeon-label:hover > .wrapper > .accordeon-icon{
  display: none;
}


@media (max-width:700px) {
  .accordeon {
    max-width: 95%;
    max-height: 100%;
  }
  .accordeon-title {
    font-size: 1.200rem;
    margin: 0 auto;
  }
  .accordeon-icon {
    display:none;
  }
  .accordeon-icon.close {
    display:none;
  }
  .accordeon-input:checked ~ .wrapper > .accordeon-icon.close {
    display: none;
   }
   .wrapper {
    height: 3.125rem;
   }
}
@media (max-width:520px) {
  .accordeon {
    max-width: 95%;
    max-height: 100%;
  }
  .accordeon-title {
    font-size: 1.0rem;}
  .accordeon-icon {
    display:none;
  }
  .accordeon-icon.close {
    display:none;
  }
  .accordeon-input:checked ~ .wrapper > .accordeon-icon.close {
    display: none;
   }
}